@charset "gbk";

/*----------------reset----------------*/
html, body, div, p, h1, h2, h3, h4, ul, li, em, a, dl,dt,dd { padding: 0;margin: 0;}
body {  background-color: #fff;font: 12px/1.5 arial,"宋体",sans-serif;color: #a8a8a8;}
img {border: none;}
ul {list-style: none; }
a , a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
em {font-style: normal;}


/*----------------ayout start----------------*/

/*----------------set center----------------*/
.top, .logo-wrap, .nav, .main-wrap, .banner-top, .banner-con-wrap, .footer { 
	margin: 0 auto;
	width: 1000px;
}

.top-wrap {
	height: 30px;
	line-height: 30px;
	background-color: #f1f1f1;
	border-bottom: 1px solid #e6e6e6;
}

.top {}

.logo-wrap {height: 104px;}
.nav-wrap {height: 39px;background-color: #ff7900;border-top:1px solid #e86e00;}
.banner-wrap {height: 402px;background-color: #ebebeb;}
.main-wrap {
	position: relative;
}
.main-hotel { 
	margin-right: 324px;	
}
.main-aside {
	width: 308px; 
	/*float: right;*/
	position: absolute;
	top: 0;
	right:0;
}

.footer-wrap {height: 116px;background-color: #222222;}
/*E ----------------layout style end----------------*/

/*S ----------------top area start----------------*/

.top {}
.top-user { }
.top-user span { padding-right:15px;float: left; }
.top-user a   {  color: #de7e27; margin-right: 6px; float: left;}
.top-user-btn, .share-btn, .btn-book, .btn-fav { background: url(../imgs/top-user-icon.png) no-repeat; }
.top-user-btn { display: block;	width: 29px; padding-left: 18px; }
.top-login    { background-position: 0 8px;}
.top-regist   { background-position: 0 -28px;}

.top-share    { float: right;height: 30px;overflow: hidden;zoom: 1;}
.top-share a  { float: left;  color: #a8a8a8;}
.top-linkbtn  { margin-left: 2px;}
.top-link-divide { padding:0 6px 0 8px;*margin-top: -2px;/*控制ie6 7对竖线显示的问题*/}
.share-btn    { display: block;height: 16px;width: 16px;margin-right: 7px;margin-top: 8px; }

.share-weixin {background-position: -9px -92px;}
.share-qzone  {background-position: -31px -92px;}
.share-weibo  {background-position: -53px -92px;}
.share-qqwei  {background-position: -80px -92px;}
.share-renren {background-position: -100px -92px;}
.share-wei    {background-position: -124px -92px;}

/*e ----------------top area end----------------*/ 

/*S ----------------logo area----------------*/
.logo-link, .arr-down, .phone, .arr-down-white, .banner-top-title, .select-title,.sel-more a, .share-light-wrap a, .sort a, .aside-top-wrap h3, .sort-list, .sort-bigimg, .score, .top-one, .top-two, .top-three, .top-four, .top-five, .top-six, .top-seven { background: url(../imgs/head-bg.gif) 0 0 no-repeat; }

.logo-link  { display: block;float: left; margin-top: 21px; height: 61px;width: 177px; }
.city 		{ float: left;margin:47px 0 0 11px; letter-spacing: 2px;}
.city-name  { color: #535252;font-weight: bold; 	}
.arr-down   {  
	display: inline-block; 
	width: 13px;
	height:14px;margin: 0 0px 0 4px; 
	background-position: 0 -84px;
	line-height: 14px; 
	*background-position: 0 -87px; 
	cursor: pointer;
}
.phone { 
	float: right; 
	margin: 30px 2px 0 0;
	width: 212px;
	height: 40px; 
	background-position: 0 -195px;
}
/*E ----------------logo area----------------*/

/*S ----------------nav area----------------*/
.nav { line-height: 39px; height: 39px; text-align: center;}
.nav-item { 
	float: left; 
	display: block; 
	width: 103px; color: #fff; 
	font-size: 16px; 
	font-weight: bold;
}
.arr-down-white { background-position: -204px 17px;}
.nav-item:hover, .nav-cur { background-color: #da531d; text-decoration: none;}
/*E ----------------nva area----------------*/

/*S ----------------banner area----------------*/
.banner-top { 
	height: 20px;
	padding: 22px 0 10px 0;
	border-bottom: 1px solid #dedede;
}
.banner-top-title { 
	float: left; 
	padding:2px 0 0 27px; 
	background-position: 0 -340px;
	font-size: 18px;
	color: #6e6e6e;
}

.hotel-filter {
	float: right;
	padding-top:8px;
}
.hotel-filter a {
	float: left;
	padding:0 0 0 20px;
	color: #9a9a9a;
	font-size:12px;
}

/*------------------banner-------------------*/
.banner-con {
	padding: 21px 0;
	margin: 0 -21px 0 0;
	_padding-bottom: 0px;
}

.banner-section {
	float: left;
	margin: 0 21px 0 0;
	height: 304px;
	width: 234px;
	overflow: hidden;
	border-bottom: 2px solid #e3e3e3;
	color: #767676;
	background-color: #fff;
}
.banner-section img {
	height: 172px;
	width: 234px;
	vertical-align: top;
}
.banner-section h3{
	height: 40px;
	line-height: 40px;
	margin: 0 5px;
	border-bottom: 1px dashed #cacaca;
	color: #575757;
	font-size: 14px;
	text-align: center;
}
.banner-section p {
	margin:13px 0 0 11px;	
	line-height: 12px;
	height: 12px;
}

.banner-section p em {
	padding-left: 10px;
	color: #de7e27;
}
.banner-section div {
	margin:11px 0 11px 11px;
}
.banner-section div em {
	color: #464646;
}

.banner-tip {
	position: relative;
	z-index: 2;
	display: block;
	margin-top:-33px;
	padding:0 11px;
	background: rgba(0,0,0,.5);
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#88FFFFFF, endColorstr=#0c0c0c);
 	/*filter:alpha(opacity=50);*/
 	color: #fff;
 	line-height: 33px;
 	height: 33px;
}

.book-btn {
	display: block;
	width: 93px;
	height: 22px;
	margin: 0 auto;
	background-color: #c6c6c6;
	color: #fff;
	text-align: center;
}

.book-btn-cur, .book-btn:hover { 
	background-color: #ff7800; 
}
/*E ----------------banner  area----------------*/

/*S ----------------main content area----------------*/
.main-hotel,.main-hotel a {
	color: #767676;
}
.select-title {  /*41   18  16  13*/
	height: 27px;
	width: 83px;
	padding: 14px 0 0 27px;
	color: #ff7800;
	font-size:18px;
	border-bottom: 2px solid #ff7800;
	background-position: -276px -77px;
}

.select-box {
	border-top:1px solid #e2e2e2;
	margin-top:-1px;
	border-bottom: 1px dashed #cbcbcb;
	padding: 4px 0 8px 0;
	overflow: hidden;
	white-space: nowrap;
}
.select { 
	display: block;
	padding: 7px 0 11px  12px;
}
.select dt, .select dd {
	float: left;
}
.select dt { }
.select dd { padding: 0 32px 0 0;}
dd.sel-all {
	width: 44px;
	height: 20px;
	margin: 0 20px;
	padding: 0;
	background-color: #ff7800;
	text-align: center;
}
.sel-all a { color: #fff;}
.sel-more { 
	height: 12px;
	text-align: center; 
	font-size:12px;
	vertical-align: top;
}
.sel-more a { 
	margin:  0 auto;
	width:12px;
	height:12px;
	display: block;
	background-position:0 -91px; 
}
.sel-more a:hover { text-decoration: none;}
.search-result { padding: 18px 0 18px 12px; }
.search-result p { float: left;}
.search-result p em { color: #ff7800; }
.share-light-wrap { float: right; }
.share-light-wrap a {
	float: left;
	display: block;
	height: 17px;
	width: 17px;
	padding-left: 7px;
}
a.share-light 		 { background-position: -2px -143px;}
a.share-light-qqzone { background-position: -25px -143px;}
a.share-light-weibo  { background-position: -48px -143px;}
a.share-light-renren { background-position: -71px -143px;}
a.share-light-qqwei  { background-position: -94px -143px;}
a.share-light-weixin { background-position: -117px -143px;}

.sort-wrap { padding: 0 0 8px 12px; }
.sort { float: left; }
.sort span { color: #ff7800; font-weight: bold;}
.sort a {
	float: left;
    display: block;
    width: 54px;
    height: 14px;
	padding-left: 17px;
	background-position: 44px -268px;
}

.list-option { float:right;}
.list-option input, .list-option label, .list-option a {
	float: left;
} 
.list-option label { padding-right: 14px;}
.list-option a { display: block; padding-left: 38px; }
.sort-list { background-position: -199px -89px; }
.sort-bigimg { background-position: -64px -89px; }


/*S ----------------hotel list area----------------*/
.hotel-item { padding: 20px 0; border-bottom: 1px dashed #cbcbcb; overflow: hidden; }
.hotel-item .fl img { width: 248px; height: 165px; vertical-align:top; }
.hotel-item .hotel-detial { padding: 11px 0 0 16px; margin-left: 248px;}
.hotel-item .hotel-detial h3 { color: #ff7800; font-size:14px; text-align: left;}
.hotel-item .hotel-detial p { margin: 14px 0;}
.hotel-item em { color: #de7e27;}

.hotel-score-wrap { padding-top: 18px;}
.hotel-score {float: left;}
.score {display: block;float: left; width: 20px;height: 20px; background-position: -80px -300px;}
.score-n { background-position: -175px -300px;}
.btn-wrap {float: right;}
.btn-wrap a { display: block;float: left; width:24px;padding-left: 31px; }
.btn-fav { background-position: 12px 0px;}
.btn-book { background-position: 12px -37px;}
/*E ---------------- hotel list----------------*/

.hot-phone, .weixin-wrap, .hotel-more a, .fix-up-btn {
	background: url(../imgs/bg.gif) 0 0 no-repeat;
}

/*S ----------------hotel more---------------- */
.hotel-more a {
	display: block;
	margin: 0 auto;
	width: 80px;
	height: 18px;
	margin: 25px auto 57px auto;
	background-position: 50px -245px;
}
/*E ----------------hotel more end----------------*/


/*S ----------------aside bar start----------------*/
.main-aside {
	font-size: 14px;
	color: #767676;
	overflow: hidden;
}
.hotel-rank-wrap {
	border-top: 1px solid #e2e2e2;
	margin-top: -1px;
}
.aside-top-wrap h3 {
	height: 27px;
	width: 111px;
	padding: 14px 0 0 27px;
	border-bottom: 2px solid #ff7800;	
	color: #ff7800;
	font-size: 18px;
	font-weight: bold;
	background-position: -200px -360px;
}

.hotel-rank-wrap div {
	padding: 0 0 21px 40px;
}
div.top-one {
	padding:25px 0 9px 40px;
	background-position: -367px -2px;
}

.top-one img {
	width: 123px;height: 80px;
	float: left;
	padding-right: 20px;
}
.top-one h4 {
	color: #464646;
	font-weight: bold;
	height: 28px;
	line-height: 28px;
}

.top-one p {
	height: 26px;
	line-height: 26px;
}

.top-two {
	background-position: -367px -118px;
	height: 22px;
	line-height: 22px;
	width: 263px;
	overflow: hidden;
}

.top-three {  background-position: -367px -160px;}
.top-four  { background-position: -367px -200px;}
.top-five  { background-position: -367px -244px;}
.top-six   { background-position: -367px -288px;}
.top-seven { background-position: -367px -332px;}

.hot-phone {
	height: 70px;
	padding-left: 79px;
	font-size: 14px;
	color: #767676;
}

.phone-num {
	font-size:29px;
	color: #ff9247;
	font-family: "Microsoft YaHei";
	font-family: "Microsoft YaHei" ! important;
}

.weixin-wrap {
	background-position: 10px -85px;
	padding:15px 0 0 123px;
	height: 120px;
}
.weixin-wrap .saoyisao {
	text-align: center;
}

.weixin-wrap em {
	color: #de7e27;
}
/*E ----------------aside bar end----------------*/

/*E ----------------main end----------------*/
.footer, .footer a {
	color: #676767;
}
.footer ul {
	margin: 0 auto;
	width: 451px;
}
.footer li,.footer a {
	float:left;
}

.footer li {
	padding:40px 10px 2px 0;
}
.footer p {
	text-align: center;
}

/*S ----------------footer---------------- */

.fix-up-btn {
	display: block;
	width: 60px;
	height: 60px;
	position: fixed;
	bottom: 0;
	right: 0;
	background-position: 0 -300px;
}

/*common style*/
.fl {float: left;}
.fr {float: right;}
.h-cen {margin: 0 auto;}
.clearfix {zoom:1;overflow: hidden;}
.clearfix:after {
	content: ".";
	height: 0;
	line-height: 0;
	overflow: hidden;
	display: block;
	clear: both;
}
